{% extends "AppCafeteria/padre.html" %}

{% load static %}


{% block titulo %} COMUNIDAD CAFETERA {% endblock %}
{% block color_boton_inicio %} active {% endblock %}

{% block contenido %}


    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Bienvenido a la primera comunidad cafetera de Tucumán</h2>
                <p class="lead">Un espacio para los amantes del café que no encuentran su espacio en la selva de concreto tucumana.</p>
                <p class="mb-0">Si tenes una cafeteria, sos Barista o simplemente amas el café como nosotros, 
                    FELICIDADES! encontraste tu espacio.</p>
            </div>
        </div>
    </div>

{% endblock %}
